# Idea files
.idea

# Npm modules
node_modules

# Bower components
public/lib

# Logs
/**/*.log

# Compiled CSS and JS
public/assets/css
public/assets/js

app/server/views/_bower.stylesheets.jade
app/server/views/_bower.scripts.jade