# Idea files
.idea

# Npm modules
node_modules

# Bower components
public/lib

# Logs
/**/*.

# Compiled CSS and JS
public/assets/css
public/assets/js

app/views/_bower.stylesheets.jade
app/views/_bower.scripts.jade