
header(ng-controller="ActionCtrl as action")
    nav.ui.large.inverted.menu
        a.active.item
            i.home.icon
            | Home
        .right.aligned.item
            button.ui.primary.button Save

.full-width.full-height.ui.divided.stackable.grid

    aside.two.wide.column(ng-controller="NoteListCtrl as noteList")
        ul(ng-repeat="note in noteList.notes")
            li
                a(href="#", ng-click="load(note)") {{ note.title }}

    section.fourteen.wide.column(ng-controller="EditorCtrl as editor")
        .ui.full-height.two.column.grid
            section.full-height.column(ui-ace="{onLoad: editor.aceLoaded}", ng-model="editor.text")
            section.full-height.column(ng-bind-html="editor.text | markdown", scroll-glue="true", mathjax="editor.text")
