
if process.env.NODE_ENV === "dev"
    script(src="//localhost:35729/livereload.js")

// bower:js
script(src='lib/modernizr/modernizr.js')
script(src='lib/jquery/dist/jquery.js')
script(src='lib/fastclick/lib/fastclick.js')
script(src='lib/jquery.cookie/jquery.cookie.js')
script(src='lib/jquery-placeholder/jquery.placeholder.js')
script(src='lib/foundation/js/foundation.js')
script(src='lib/angular/angular.js')
script(src='lib/angular-foundation/mm-foundation-tpls.js')
script(src='lib/quill/dist/quill.js')
script(src='lib/angular-quill/angular-quill.js')
script(src='lib/angular-route/angular-route.js')
// endbower

script(src="assets/js/main.js")