
link(rel="stylesheet", href="modules/core/css/core.css")

// bower:css
link(rel='stylesheet', href='lib/foundation/css/foundation.css')
link(rel='stylesheet', href='lib/quill/dist/quill.css')
// endbower