doctype html
html(lang="en")
    head
        title= "Hello"
        link(rel="stylesheet", href="assets/css/core.css")
    body
        h1 Hello

        script(src="//localhost:35729/livereload.js")