doctype html
html(lang="en")
    head
        title= "Hello"
        link(rel="stylesheet", href="modules/core/css/core.css")
    body
        header.top-bar

        main.row
            aside.small-12.medium-3.columns
                ul.side-nav
                    li Note 1
                    li Note 2
            section.small-12.medium-9.columns
                h1 Hello Foundation
                p Test

        footer.row

        script(src="//localhost:35729/livereload.js")