doctype html
html(lang="en")
    head
        title OctoBear
        include _stylesheets.jade
    body
        header
            include _header.jade
        main
            block content

        footer
            include _footer.jade

        include _scripts.jade